@{
    ViewData["Title"] = "Inicio";
}


 <h2 class="text-center">Bienvenido al Sistema Gestor de Pacientes</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Hola, @User.Identity.Name</p>
        <p>Utiliza el menú superior para gestionar pacientes, médicos y citas.</p>
    }
    else
    {
        <div class="justify-content-center align-items-center mt-5 text-center gap-3">
            <div>
                <h3>Inicia Sesion para acceder al sistema.</h3>
                <a asp-controller="Account" asp-action="Login" class="mt-3 btn btn-primary">Iniciar Sesion</a>
            </div>
             <div class="mt-5">
                <h3>Si no tienes una cuenta, puedes registrarte aqui.</h3>
                <a asp-controller="Account" asp-action="Register" class="mt-3 btn btn-success">Registrarse</a>
             </div>
        </div>

    }

